ConfigurationSite/Web References/AccessManagementWS/AMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://acme.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://acme.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ACME Company. (M) Web Services . Copyright 2016</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://acme.com/">
      <s:element name="AccessManagementRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_XMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccessManagementRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessManagementRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccessManagementRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AccessManagementRequest" />
  </wsdl:message>
  <wsdl:message name="AccessManagementRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AccessManagementRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="AMServiceSoap">
    <wsdl:operation name="AccessManagementRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Access Management Webservice request digester.</wsdl:documentation>
      <wsdl:input message="tns:AccessManagementRequestSoapIn" />
      <wsdl:output message="tns:AccessManagementRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AMServiceSoap" type="tns:AMServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccessManagementRequest">
      <soap:operation soapAction="http://acme.com/AccessManagementRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AMServiceSoap12" type="tns:AMServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccessManagementRequest">
      <soap12:operation soapAction="http://acme.com/AccessManagementRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AMService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ACME Company. (M) Web Services . Copyright 2016</wsdl:documentation>
    <wsdl:port name="AMServiceSoap" binding="tns:AMServiceSoap">
      <soap:address location="http://localhost/AccessManagement/AMService.asmx" />
    </wsdl:port>
    <wsdl:port name="AMServiceSoap12" binding="tns:AMServiceSoap12">
      <soap12:address location="http://localhost/AccessManagement/AMService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>